header.scrolled {
    background: #1f2b2e;
    box-shadow: 0 0 32px black;
}

.cloudy {
    background-color: #141d1f;
    background-image: url(../Images/cloudl.png), url(../Images/cloudr.png);
    color: white;
}

.updatesSection, aside {
    background: #192426;
    box-shadow: 0 0 16px rgba(0,0,0,0.2);
}

.repository {
    background: #1f2b2e;
    box-shadow: 0 0 16px rgba(0,0,0,0.2);
}

.commitGraph {
    background: #1f2b2e;
}

.commitGraph polygon {
    fill: #192426;
}

.commitGraph line {
    stroke: #4b5557;
    stroke-width: 1;
}

.repoMain {
    background: #192426;
}

.updatesSection > div > div, aside > div > div {
    background: #1f2b2e;
    color: #ddd;
}

button.alt {
    border: 2px solid #eee;
    background: none;
    color: #eee;
}