.heroImage {
    padding-top: 32px;
    background-color: #141d1f;
    color: #ffffff;
    background-image: url(../Images/cloudl.png), url(../Images/cloudr.png);
    background-repeat: no-repeat;
    background-position: bottom left, top right;
    position: relative;
    text-align: center;
    height: 100vh;
    width: 100%;
    top: 0;
    bottom: 0;
}

.showcase {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.showcaseMain {
    display: inline-block;
    vertical-align: middle;
    width: 80%;
}

.showcaseMain img {
    width: 80%;
    margin: 5% 5%;
    border-radius: 8px;
    box-shadow: 0 0 32px black, 0 0 256px rgba(57, 157, 184, 0.5);
}

.showcaseSide {
    display: inline-block;
    vertical-align: middle;
    width: 20%;
}

.showcaseSide div {
    width: 80%;
    margin: 5% 5%;
}

.comingSoon {
    background: transparent;
    border: solid white 2px;
}

.featuresBar {
    position: relative;
    z-index: 2;
    box-shadow: 0 0 32px black;
    width: 90%;
    padding: 0 5%;
    vertical-align: bottom;

    background: rgba(219,234,238,1);
    background: -moz-linear-gradient(left, rgba(219,234,238,1) 0%, rgba(181,197,201,1) 50%, rgba(219,234,238,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(219,234,238,1)), color-stop(50%, rgba(181,197,201,1)), color-stop(100%, rgba(219,234,238,1)));
    background: -webkit-linear-gradient(left, rgba(219,234,238,1) 0%, rgba(181,197,201,1) 50%, rgba(219,234,238,1) 100%);
    background: -o-linear-gradient(left, rgba(219,234,238,1) 0%, rgba(181,197,201,1) 50%, rgba(219,234,238,1) 100%);
    background: -ms-linear-gradient(left, rgba(219,234,238,1) 0%, rgba(181,197,201,1) 50%, rgba(219,234,238,1) 100%);
    background: linear-gradient(to right, rgba(219,234,238,1) 0%, rgba(181,197,201,1) 50%, rgba(219,234,238,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dbeaee', endColorstr='#dbeaee', GradientType=1 );
}

.featuresBar div {
    display: inline-block;
    vertical-align: top;
    text-align: center;
    padding: 2% 4%;
    width: 33.33%;
    box-sizing: border-box;
    color: #222;
    height: 100%;
}

button {
    width: 100%;
    padding: 8%;
    margin: 6% 0;
}

.avatar {
    display: inline-block;
    position: relative;

    width: 64px;
    height: 64px;

    border-radius: 50%;
    box-shadow:  0 0 32px black, 0 -2px 2px rgba(0,0,0,0.2), 0 2px 2px rgba(255,255,255,0.2);
}