header {
    background: #eee;
    border-bottom: 4px solid #2f8096;
}

.headRight > div {
    transition: border-bottom 0.5s ease;
}

.headRight > div {
    border-bottom: 4px solid transparent;
}

.headRight > div:hover {
    border-bottom: 4px solid #69c5df;
}

.cloudy {
    background-color: #e2e2e2;
    background-image: url(../Images/cloudldark.png), url(../Images/cloudrdark.png);
}

.updatesSection, aside {
    background: #f3f3f3;
    box-shadow: 0 2px 16px rgba(0,0,0,0.2);
}

.repository {
    background: #e9e9e9;
    box-shadow: 0 2px 16px rgba(0,0,0,0.2);
}

.commitGraph {
    background: #e9e9e9;
}

.commitGraph polygon {
    fill: #f3f3f3;
    filter: url(#dropshadow);
}

.commitGraph line {
    stroke: #ccc;
    stroke-width: 1;
}

.repoMain {
    background: #f3f3f3;
}

.updatesSection > div > div, aside > div > div {
    background: #e9e9e9;
    color: #333;
}