@font-face {
    font-family:'Caviar Dreams';
    src:url('../Fonts/CaviarDreams.ttf');
}

body {
    margin: 0;
    background: #e9e9e9;
}

header.unscrolled {
    background: transparent;
    border: none;
    box-shadow: none;
}

header.unscrolled .headRight {
    background: none;
    box-shadow: none;
}

header.unscrolled .headRight div {
    border-color: transparent;
}

header {
    position: fixed;
    width: 100%;
    height: 64px;
    z-index: 1;
    box-sizing: border-box;
    padding: none;
    margin: none;
    transition: all 0.5s ease;
    box-shadow: 0 1px 32px black;
}

header .headRight {
    float: right;
    width: auto;
    height: 60px;
    box-shadow: 0 0 16px rgba(0,0,0,0.2);
}

header .headRight > div {
    position: relative;
    transition: border 0.5s ease;
}

header .headRight > div .back {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    background: #2f8096;
    transition: height 0.3s ease, background-color 0.3s ease;
}

header .headRight > div:hover .back {
    height: 100%;
    background: #69c5df;
}

header .search {
    display: inline-block;
    height: 60px;
    vertical-align: top;
}

header .headRight input {
    display: inline-block;
    width: 30px;
    height: 30px;
    box-shadow: 15px;
    padding: 12px;
    padding-left: 30px;
    padding-right: 0;
    overflow: hidden;
    margin: 15px;
    border-radius: 15px;
    border: none;
    box-sizing: border-box;
    transition: 0.5s ease width;
    outline: none;
    color: #666;
    background: white;
    background-image: url('../Images/search.png');
    background-position: 8px 8px;
    background-size: 15px;
    background-repeat: no-repeat;
    position: relative;
    z-index: 1;
}

header .headLeft {
    position: absolute;
    left: 232px;
    top: 0;
}

header .headLeft a {
    display: inline-block;
    font-size: 1.2em;
    padding: 20px;
	font-family: 'HelveticaNeue', 'Helvetica', 'Calibri';
}

header .headRight input:focus {
    width: 15vw;
    padding-right: 12px;
}

header .avatar {
    display: inline-block;
    width: 60px;
    height: 60px;
    border-left: 1px solid #ccc;
}

header .avatarImg {
    width: 50%;
    height: 50%;
    margin: 25%;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 1;
}

.fourofour {
    display: flex;
    align-items:center;
    box-shadow: border-box;
    
    width: 100vw;
    height: 100vh;
    text-align: center;
    position: relative;
}

.cloudy {
    background-repeat: no-repeat;
    background-position: bottom left, top right;
    background-attachment: fixed;
}

.fourofour > div {
    width: 100%;
}

.fourofour > div > div {
    width: max-content;
    display: inline-block;
}

header > img {
    margin: 16px;
}

main {
    width: 100%;
    min-height: 100vh;
}

a {
    color: white;
}

.dropdown {
    display: inline-block;
}

button {
    background: #2f8096;
    border: 1px solid #1f5563;
    box-sizing: border-box;
    font-size: 120%;
    border-radius: 4px;
    width: 100%;
    padding: 4%;
    color: white;
    display: inline-block;
    font-family: 'Caviar Dreams', 'Helvetica';
    transition: border-color 0.2s ease, background-color 0.2s ease, color 0.2s ease;
    box-sizing: border-box;
    box-shadow: 0 0 6px rgba(0,0,0,0.2), inset 0 -2px 2px 0 rgba(0,0,0,0.2);
}

button.alt {
    border: 1px solid #999;
    box-shadow: 0 0 6px rgba(0,0,0,0.2);
    background: none;
    color: #333;
}

button:hover {
    background: #1f5563;
    color: #eee;
}

button.alt:hover {
    border-color: #999;
    background: none;
    color: #999;
}

h1, h2, h3, h4 {
    font-size: 160%;
    font-weight: thin;
    margin: 0;
    padding: 0.2em 0;
    font-family: 'Caviar Dreams', 'Helvetica';
}

h4 {
    font-size: 120%;
}

p {
    font-family: 'Calibri';
}

.updatesSection {
    display: inline-block;
    vertical-align: top;
    width: 66%;
    margin: 1%;
    margin-top: 80px;
    padding: 1%;
    border-radius: 6px;
}

aside {
    display: inline-block;
    vertical-align: top;
    width: 26%;
    margin: 1%;
    margin-top: 80px;
    padding: 1%;
    border-radius: 6px;
}

.alertDiv {
    margin-bottom: 8px;
}

.updatesSection > div > div, aside > div > div {
    display: block;
    font-family: Calibri;
    padding: 4px;
    border-radius: 6px;
    margin: 8px 0;
    transition: padding-left 0.2s ease;
}

.updatesSection > div > div:hover, aside > div > div:hover {
    padding-left: 16px;
}

.updatesSection > div > div > p, aside > div > div > p {
    margin: 10px 6px;
    display: block;
}

.updatesSection > div > div button, aside > div > div button {
    font-family: Calibri;
    width: auto;
    margin: 0;
    padding: 0.5em;
    font-size: 90%;
    float: right;
}

.repoHeader > button, .repoHeader > .dropdown {
    margin-left: 0.2em;
    float: right;
    font-family: Calibri;
}

.repoHeader button {
    font-family: Calibri;
    width: auto;
    padding: 0.8em 1.2em;
    font-size: 80%;
}

.dropdown {
    position: relative;
}

.dropdown button {
    padding-right: 3em;
}

.dropdown button:after {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.8em;
    height: 100%;
    box-sizing: border-box;
    content: 'V';
    border-left: 2px solid #1f5563;
}

.dropdown ul {
    position: absolute;
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
    z-index: 1;
    box-sizing: border-box;
    background: #2f8096;
    font-size: 80%;
    display: none;
    border-radius: 0 0 4px 4px;
    overflow: hidden;
    color: white;
}

.dropdown:hover button {
    border-radius: 4px 4px 0 0;
    box-shadow: inset 0 -2px 0 0 transparent;
}

.dropdown:hover ul {
    display: block;
}

.dropdown li {
    padding: 1.0em;
    margin: 0;
}

.dropdown li:hover {
    background: #1f5563;
}

a {
    color: #2f8096;
}

.repository {
    width: 80%;
    margin: 0 10%;
    margin-top: 80px;
    padding: 0;
    display: inline-block;
    border-radius: 8px;
    box-sizing: border-box;
    overflow: hidden;
}

.repoHeader {
    padding: 2.5em;
}

.repoMain {
    margin-top: -8px;
    padding: 2.5em;
}

.commitGraph {
    position: relative;
    padding: 0;
    margin: 0;
    height: 96px;
}

.commitGraph > svg {
    height: 96px;
    width: 100%;
    padding: 0;
    margin: 0;
}

.repository > h2 {
    display: inline-block;
}

.repository .icon {
    display: inline-block;
    border-radius: 50%;
    width: 64px;
    height: 64px;
    margin: 12px;
    margin-left: 0;
    background: #999;
    float: left;
}

.tags > span {
    float: right;
    margin: 4px;
    padding: 4px;
    font-size: 70%;
    border-radius: 4px;
    border: 2px solid #2f8096;
    font-family: Calibri;
    color: #2f8096;
}

.collaborators {
    float: right;
}

.collaborators > div {
    display: inline-block;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin: 8px 8px 0 0;
    background-position: center;
    background-size: cover;
}

.collaborators .owner {
    box-shadow: 0 0 8px #2f8096;
}

.collaborators div {
    transition: 0.2s ease transform, 0.2s ease box-shadow;
    box-shadow: 0 0 0 0px rgba(0,0,0,0.1);
}

.collaborators div:hover {
    transform: scale(1.2);
    box-shadow: 0 0 0 4px rgba(0,0,0,0.1);
    z-index: 1;
}

.commitGraph > div {
    position: absolute;
    margin-left: -0.8em;
    margin-top: -0.8em;
    background: #333;
    width: 1.6em;
    height: 1.6em;
    border-radius: 1.2em;
    font-size: 90%;
    overflow: hidden;
    color: white;
    box-sizing: border-box;
    transition: width 0.4s ease, box-shadow 0.4s ease;
    box-shadow: 0 0 0 rgba(0,0,0,0.4);
    font-family: Calibri, 'Trebuchet MS', sans-serif;
}

.commitGraph span {
    width: 10em;
    padding: 0.2em;
    margin-left: 1.6em;
    display: inline-block;
    box-sizing: border-box;
    word-break: keep-all;
}

.commitGraph > div:hover {
    width: 10em;
    box-shadow: 0 0 0 2px rgba(0,0,0,0.2), 0 0 8px 2px rgba(0,0,0,0.4);
}

.commitGraph > div:before {
    content: '';
    position: absolute;
    left: 0.3em;
    top: 0.3em;
    border-radius: 50%;
    background: white;
    width: 1.0em;
    height: 1.0em;
    vertical-align: top;
    margin-right: 8px;
}